/*id가 vbox1인 스타일 적용 */

#vbox1{
	-fx-border-color:red;
	-fx-border-width:1;
}

/*id가 vbox2인 스타일 적용 */
#vbox2{
	-fx-border-color:red;
	-fx-border-width:1;
	-fx-border-radius:30; /*모서리가 반지름 30픽셀인 상태로 굴곡을 줌 */
}

/*id가 vbox3인 스타일 적용 */
#vbox3 {
   /* 배경색이 원형그라디언트 형식으로 중심점에서 50%까지 영역을 잡되 흰색에서 검정색으로 변화시키게 하였다. */
   -fx-background-color: radial-gradient(center 50.0% 50.0%, radius 50.0%, white 20.0%, black); 
}
/*id가 vbox4인 스타일 적용 */
#vbox4{
	/* 제일 바깥경계선 0을 기준으로 내부 경계선 10픽셀, 20픽셀 만큼 경계선을 줌 */
	-fx-border-insets:0,10,20;
	
	/*두번째 내부경계선의 색깔을 Top:green Right:white Bottom:green Left:white */
	-fx-border-color:red,green white green white,blue;
	
	/*세번째 내부경계선의 굵기를 tOp:1 Right :3 Bottom : 3 Left :1 */
	-fx-border-width:1,1,1 3 3 1;
	
	/*id가 vbox5인 스타일 적용*/
}
#vbox5{
		-fx-border-color:red;
		-fx-border-width:2;
		/*
		 *solid:실선, dotted:점선, dashed:다른스타일의 점선
		 * segments:일정좨선 양식(홀수:선의 길이, 짝수:공백 길이)
		 * 
		 */  
		 -fx-border-style:solid dotted dashed segments(3,2,8,2)
}
